.error-input{
  color: rgb(209, 26, 26);
  font-size: 14px;
  font-weight: bold;
}

.mainBorder{
  border-style: none !important;
  border-bottom: 2px solid #e6e0e0  !important;
}

.mainBorder:focus{
  border-bottom: 2px solid #284fa9 !important;
}
