.rutInputSearch {
  border-style: none !important;
  border-bottom: 2px solid #e6e0e0 !important;
  flex-grow: 2;
  margin-right: 15px;
}

.rutInputSearch:focus {
  border-bottom: 2px solid #284fa9 !important;
}
